* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    font-family: 'Roboto Condensed', sans-serif;
}

.center {
    max-width: 1200px;
    padding: 0 2%;
    margin: auto;
}

.clear {
    clear: both;
}

header {
    background-color: cornflowerblue;
    height: 50px;
    padding-top: 8px;
}

header h1 a {
    color: white;
    float: left;
    font-family: 'Pattaya', sans-serif;
    font-size: 28px;
    text-decoration: none;
}

/* menu dropdown */
.dropdown .lang { /* A jogada é position. */
    background-color: white;
    padding: 8px 15px;
    border-radius: 3px;
    color: cornflowerblue;
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 15px;

}

.dropdown .lang:hover ul {
    display: block;
}

.dropdown .lang .opcoes {
    display: none;
    background-color: red;
    position: absolute;
    top: 46px;
    left: 0;
    list-style-type: none;
    width: 180px;
    background-color: cornflowerblue;
    padding: 8px 15px;
    border-radius: 3px;
}

.dropdown .lang .opcoes a {
    text-decoration: none;
    color: white;
}

.dropdown .lang .opcoes li {
    padding: 10px 0;
}

.linha-menu {
    border-bottom: 1px solid white;
}

/* botao sobre */
#link-sobre {
    background-color: white;
    padding: 8px 15px;
    border-radius: 3px;
    text-decoration: none;
    color: cornflowerblue;
    float: right;
}

#link-sobre:hover {
    background-color: rgb(241, 241, 241);
    transition: 0.4s;
}